.gradient {
  background:linear-gradient(120deg, #00d1b2, #FFFFFF);
}

.boxshadow {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)
}

.sideW {
  width: 5%;
}

.loginW {
  width: 80%;
}


.pad6 {
  padding: 3rem;
}

@media screen and (min-width: 320px) and (max-width:768px) {
  .pad6 {
      padding: 1rem;
  }

  .sideW {
    width: 8%;
  }


}